.projects__container {
  display: flex;
  justify-content: center;
}

.projects__item {
  background: var(--color-bg);
  padding: 2rem;
  border-radius: 2rem;
  border: 3px solid transparent;
  transition: var(--transition);
}

.projects__item:hover {
  border-color: var(--color-p);
  background: transparent;
}

.projects__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.projects__item h2 {
  text-align: left;
  color: white;
  margin: 1.2rem 0 1.5rem;
}

.projects__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
